{% extends "base/base.html" %}
{% load static %}


{% block content %}
<div class="container">
    <div class="col-md-12">
        <div class="header">
            <div class="header_in">
                <div id='user'>
                    <h3>{{ request.user.username }}</h3>
                </div>
            </div>
        </div>
        <!--  -->
        <div class="row wrap">
            <div class="wrap_in">

                <div class="col-md-9">
                    <div class="profile_info">
                        <div class="bio">
                            <div>
                                <p>{{request.user.get_full_name}}</p>
                                <p><a href="">изменить статус</a></p>
                            </div>

                        </div>
                    </div>

                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ forms.as_p }}
                    <button>save</button>
                </form>

            </div>
        </div>
    </div>
</div>
{% endblock %}