{% extends 'base/base.html' %}
{% load static %}

{% block content %}




<div class="ui list">
{% for list in paginator_html %}
      <a class="item">
        <i class="right triangle icon"></i>
        <div class="content">
          <div class="header">{{ list }}</div>
          <div class="description desc_new_style">{{ list.price }} USD</div>
            {% if request.user.is_authenticated %}
{#            <form action="" class="ui form" method="POST">#}
                <a href="{% url 'cart:cart' %}">добавить в корзину</a>
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
{#            </form>#}
            {% endif %}
        </div>
      </a>
{% endfor %}
</div>



{% endblock %}

{% block js %}
{% endblock %}